@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap);

    *{
        font-family: "Open Sans ", sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
.banner-wrap {background: url(./bgimage.jpg);
    height: 80 vh;
    background-position: center;
    background-size: cover;
}

.banner-wrap .nav-bar.logo img{
    height: 40px;
}

.nav-bar{
    display: flexbox;
    justify-content: space-between;
}
